<section class="home" id="home">

    <div class="image">
        <img src="../assets/home-img.svg" alt="">
    </div>

    <div class="content">
        <span>e-leave System</span>
        <h3>A better learning future starts here. <a href="#">get started</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, itaque beatae laboriosam nulla odio voluptatibus molestias vero pariatur laborum molestiae.</p>
         <a href="#courses" class="btn">our courses</a> 
     </div> 

 </section> 
 

<!-- 
 <section class="home"></section> -->
